html {
    scroll-behavior: smooth;
  }
  
  body {
    background-image: url("../images/background.png");
    background-size: 7%;
    align: center;
    background-repeat: repeat;
    background-color: #333;
  }
  
  header {
    height: 20%;
    width: 100%;
    display: block;
    margin-top: 3rem;
    padding: 0;
    float: none;
  }
  .heading {
    overflow: hidden;
  }
  
  .menu-icon {
    font-weight: bold; 
    font-size: 1rem;
    color: #f2f0ef;
    margin: 2rem;
    margin-right: 0.5rem;
    cursor: pointer;
    align-self: left;
  }
  .nav {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold; 
    font-size: 1.4rem;
    color: #f2f0ef;
    text-decoration: none; 
    margin: 1rem;
    margin-right: 0.5rem;
    cursor: pointer; 
    align-self: left;
  }
  
  #logo {
    display: flex;
    justify-content: center;
    margin-top: 5%;
  }
  
  #ongevonden {
    width: 80%;
  
  }
  
  
  
  
  
  
  
  
  
  .whitespace {
    margin: 100px;
    width: 100%;
    background-color: red;
  }
  
  footer {
    width: 100%;
    display: flex;
    justify-content: center; /* Horizontaal centreren */
    align-items: center;
    flex-direction: column;
    padding-bottom: 4%;
  }
  .bottom {
    display: block;
    width: 100%;
    text-align: right;
    background-color: greens;
  }
  #omhoog {
    font-size: 2rem;
    color: #333;
    background-color: #ffffff36;
    border: none;
    border-radius: 50%;
    padding: 10px;
    height: 4rem;
    width: 4rem;
    margin-right: 4%;
  
  }
  #omhoog:hover {
    color: #a4a4a4;
    background-color: #5252527d;
    transform: scale(1.1);
  
  }
  
  #social-media {
    display: flex;
    justify-content: center;
  }
  
  .social-media {
    font-size: 2rem;
    background-color: transparent;
    border: none;
    color: #f2f0ef;
    margin: 1.5rem;
  }
  
  .social-media:hover {
    transition-duration: 0.2ms;
    transform: scale(1.1);
  }
  
  #copyright {
    font-family:'Courier New', Courier, monospace;
    font-size: 1rem;
    color: #f2f0ef;
  }